## Importing Libraries

In [1]:
import pandas as pd 
import numpy as np

## Load Data

In [2]:
file = 'Cleaned_data.csv'
cars_db = pd.read_csv(file)

In [3]:
cars_db.head()

,Customer_Name,Phone,Gender,Annual_Income,Car_id,Model,Color,Engine,Body_Style,Company,Price($),Transmission,Dealer_No,Dealer_Name,Dealer_Region,Date,Year_ID,Month_ID,Day_ID,Quarter_ID
0,Geraldine,8264678,Male,13500,C_CND_000001,Expedition,Black,DoubleÃ‚Â Overhead Camshaft,SUV,Ford,26000,Auto,06457-3834,Buddy Storbeck's Diesel Service Inc,Middletown,2022-01-02,2022,1,2,1
1,Gia,6848189,Male,1480000,C_CND_000002,Durango,Black,DoubleÃ‚Â Overhead Camshaft,SUV,Dodge,19000,Auto,60504-7114,C & M Motors Inc,Aurora,2022-01-02,2022,1,2,1
2,Gianna,7298798,Male,1035000,C_CND_000003,Eldorado,Red,Overhead Camshaft,Passenger,Cadillac,31500,Manual,38701-8047,Capitol KIA,Greenville,2022-01-02,2022,1,2,1
3,Giselle,6257557,Male,13500,C_CND_000004,Celica,Pale White,Overhead Camshaft,SUV,Toyota,14000,Manual,99301-3882,Chrysler of Tri-Cities,Pasco,2022-01-02,2022,1,2,1
4,Grace,7081483,Male,1465000,C_CND_000005,TL,Red,DoubleÃ‚Â Overhead Camshaft,Hatchback,Acura,24500,Auto,53546-9427,Chrysler Plymouth,Janesville,2022-01-02,2022,1,2,1

In [4]:
cars_db['Dealer_Region'].unique()

array(['Middletown', 'Aurora', 'Greenville', 'Pasco', 'Janesville',
       'Scottsdale', 'Austin'], dtype=object)

## Dictionary of mapping

In [5]:
city_to_state = {
    "Aurora": "Colorado",
    "Austin": "Texas",
    "Greenville": "South Carolina",
    "Janesville": "Wisconsin",
    "Middletown": "New York",
    "Pasco": "Washington",
    "Scottsdale": "Arizona",
}

In [6]:
cars_db['Dealer_State'] = cars_db['Dealer_Region'].map(city_to_state)

In [7]:
cars_db.head(3)

,Customer_Name,Phone,Gender,Annual_Income,Car_id,Model,Color,Engine,Body_Style,Company,...,Transmission,Dealer_No,Dealer_Name,Dealer_Region,Date,Year_ID,Month_ID,Day_ID,Quarter_ID,Dealer_State
0,Geraldine,8264678,Male,13500,C_CND_000001,Expedition,Black,DoubleÃ‚Â Overhead Camshaft,SUV,Ford,...,Auto,06457-3834,Buddy Storbeck's Diesel Service Inc,Middletown,2022-01-02,2022,1,2,1,New York
1,Gia,6848189,Male,1480000,C_CND_000002,Durango,Black,DoubleÃ‚Â Overhead Camshaft,SUV,Dodge,...,Auto,60504-7114,C & M Motors Inc,Aurora,2022-01-02,2022,1,2,1,Colorado
2,Gianna,7298798,Male,1035000,C_CND_000003,Eldorado,Red,Overhead Camshaft,Passenger,Cadillac,...,Manual,38701-8047,Capitol KIA,Greenville,2022-01-02,2022,1,2,1,South Carolina

## Correct New Column Place

In [8]:
ordered_cars_db = ['Customer_Name', 'Phone', 'Gender', 'Annual_Income', 'Car_id', 'Model', 'Color', 'Engine', 'Body_Style', 'Company', 'Price($)', 'Transmission', 'Dealer_No', 'Dealer_Name', 'Dealer_Region', 'Dealer_State', 'Date', 'Year_ID', 'Quarter_ID', 'Month_ID', 'Day_ID']
cars_db = cars_db[ordered_cars_db]

In [9]:
cars_db.head(3)

,Customer_Name,Phone,Gender,Annual_Income,Car_id,Model,Color,Engine,Body_Style,Company,...,Transmission,Dealer_No,Dealer_Name,Dealer_Region,Dealer_State,Date,Year_ID,Quarter_ID,Month_ID,Day_ID
0,Geraldine,8264678,Male,13500,C_CND_000001,Expedition,Black,DoubleÃ‚Â Overhead Camshaft,SUV,Ford,...,Auto,06457-3834,Buddy Storbeck's Diesel Service Inc,Middletown,New York,2022-01-02,2022,1,1,2
1,Gia,6848189,Male,1480000,C_CND_000002,Durango,Black,DoubleÃ‚Â Overhead Camshaft,SUV,Dodge,...,Auto,60504-7114,C & M Motors Inc,Aurora,Colorado,2022-01-02,2022,1,1,2
2,Gianna,7298798,Male,1035000,C_CND_000003,Eldorado,Red,Overhead Camshaft,Passenger,Cadillac,...,Manual,38701-8047,Capitol KIA,Greenville,South Carolina,2022-01-02,2022,1,1,2

## Save final Result

In [ ]:
cars_db.to_csv("Updated_Cleaned_data.csv", index=False)